[Unit]
Description=hmr
After=network.target docker.service

[Service]
WorkingDirectory=/usr/local/chip-in/hmr
ExecStartPre=/usr/local/chip-in/hmr/env.sh
EnvironmentFile=-/etc/sysconfig/hmr
ExecStart=/usr/local/nodejs/bin/node lib/main.js
Restart=on-failure
StartLimitBurst=0
RestartSec=60s
Environment="PATH=/usr/local/nodejs/bin/:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target
